################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
/libs/layermap_jsondomwin.xml
/libs/layermap_jsondomwin.lob.macro
/libs/layermap_jsondomwin.lob
/libs/layermap_jsondomwin.lib
/libs/layermap_json.xml
/libs/layermap_json.lob.macro
/libs/layermap_json.lob
/libs/layermap_json.lib
/libs/jsondomwinc.lob.macro
/libs/jsondomwinc.lob
/libs/jsondomwinc.lib
/libs/jsondomwinc.def
/libs/jsondomwin.lob.macro
/libs/jsondomwin.lob
/libs/jsondomwin.lib
/libs/jsondomwin.def
/libs/jsonc.lob.macro
/libs/jsonc.lob
/libs/jsonc.lib
/libs/jsonc.def
/libs/json.lob.macro
/libs/json.lob
/libs/json.lib
/libs/json.def
/libs/cpprestsdk_winapp.lob.macro
/libs/cpprestsdk_winapp.lob
/libs/cpprestsdk_winapp.lib
/libs/cpprestsdk.lob.macro
/libs/cpprestsdk.lob
/libs/cpprestsdk.lib
